.Rhistory
.Rproj.user/*
resources/GLMGEN-workshop/*
*.zip
*.Rproj
.Rproj.user
*.nc
tmp/*
*.docx
resources/*
_targets/*
data/*
output/figures/*
output/tabular/*
output/presentations/*/*
output/presentations/*pdf
output/presentations/*html
output/presentations/*mp4
output/presentations/*css